{% extends 'base.html' %}
{% block content %}
<div class="center-column">
  <h1>My Todo App</h1>
<table class='table'>
  <thead>
    <tr>
      <th>
        <form action="/" method="POST" class='form form-main'>
          {% csrf_token %}
          {{form.title}}
          <input class='submit' type="submit" name='submit' style='color: white'>
        </form>
      </th>
    </tr>
  </thead>
  <tbody>
{% for task in tasks %}
  <tr class='item-row'>
      <td>
        <p>{{task.title}}</p>
        <a class='btn btn-info' href="{% url 'update_view' task.id %}">Update</a>
        <a class='btn btn-danger' href="{% url 'delete_view' task.id %}">Delete</a>
      </td>
  </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
